{% extends "network/layout.html" %}

{% block body %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/Javascript">
        document.addEventListener('DOMContentLoaded', function() {
          count_likes();
          if ("{{ user.is_authenticated }}") {
            let ids = $("input.like:hidden").map(function(){return $(this).val();}).get();
            
            // post api
            fetch('/posts')
            .then(response => response.json())
            .then (posts => {
              console.log(posts);
            
              // like/unlike
              for (const post of posts) {
                let id = String(post.id);
                if (ids.includes(id)) {
                    document.querySelector(`#unliking${ id }`).onsubmit = function(event) {
                      event.preventDefault();
                      document.querySelector(`#like_view${ id }`).innerHTML = "You unliked this post!";
                      $.post($(this).attr('action'), $(this).serialize()).done(count_likes());
                    };
                    document.querySelector(`#liking${ id }`).onsubmit = function(event) {
                      event.preventDefault();
                      document.querySelector(`#like_view${ id }`).innerHTML = "You liked this post!";
                      $.post($(this).attr('action'), $(this).serialize()).done(count_likes());
                    };
                };
              };
            });
          };
        });
        
        function count_likes() { 
            let ids = $("input.like:hidden").map(function(){return $(this).val();}).get();
            
            // post api
            fetch('/posts')
            .then(response => response.json())
            .then (posts => {
              console.log(posts);
              
              // like count
              for (const post of posts) {
                let id = String(post.id);
                if (ids.includes(id)) {
                  let count = post.liker.length;
                  document.querySelector(`#like_count${ id }`).innerHTML = `&#10084 by ${ count }`;
                }
              }
            });
        } 
    </script>

    <h1>Following Posts</h1>
    
    {% for post in posts %}
        <hr>
        <a href="{% url 'profile' post.poster.id %}">{{ post.poster }}</a>
        <br>
        
        <div id="display_view1{{ post.id }}">
        {{ post.content }}
        <br>
        </div>

        {{ post.time }}
        <br>
        
        {% if user.is_authenticated %}
          <div id="like{{ post.id }}" style="float:left;">
            <form action="{% url 'following' %}" method='post' id="liking{{ post.id }}">
              {% csrf_token %}
              <input type="hidden" name="liked_post" value="{{ post.id }}" class="like">
              <input type="submit" value="&#128077">
            </form>
          </div>
          
          <div id="unlike{{ post.id }}">
            <form action="{% url 'following' %}" method='post' id="unliking{{ post.id }}">
              {% csrf_token %}
              <input type="hidden" name="unliked_post" value="{{ post.id }}" class="unlike">
              <input type="submit" value="&#128078;">
            </form>
          </div>
        {% endif %}
        
        <div id="like_view{{ post.id }}">
        </div>
        
        <div id="like_count{{ post.id }}">
        </div>
    {% endfor %}
    
    <nav aria-label="Page navigation">
        <ul class="pagination">
        {% if posts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if posts.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
        {% endif %}
        </ul>
    </nav>
{% endblock %}
